abc_out_FULL/
figures
.DS_Store
pop200.txt
pop200_sfs.txt
paramDF.txt
pop_capNB.txt
abc_out/
abc_out_previous/
abc_out_6Mb/
log_files.txt
.snakemake/
playground/
NAM_abc_out/
abc_out_badprior/
abc_out_nofirstbin/
slurm_log/
paramDF.txt
src/old/
atypical_abc_out/
